# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/

# Entornos virtuales
env/
venv/ 
.venv/
.env

# Configuracion y secretos
.env
local_settings.py

# Frontend / Next.js
node_modules/
.netx/
out/
build/
.env.local/